# Build output
build/

# VS Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Executables

# Object files
*.o
*.obj

# Debug files
*.pdb

# FFmpeg downloaded DLLs
avcodec-*.dll
avdevice-*.dll
avfilter-*.dll
avformat-*.dll
avutil-*.dll
swresample-*.dll
swscale-*.dll

# FFmpeg executables
ffmpeg.exe
ffplay.exe
ffprobe.exe